option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_PATH: /var/app/current/data.db

commands:
  01_mkdir_storage:
    command: "mkdir -p /var/app/storage"
    ignoreErrors: true

container_commands:
  01_link_db:
    command: "ln -sf /var/app/storage/data.db /var/app/current/data.db"
  02_set_permissions:
    command: "chmod 777 /var/app/storage"