{% extends 'base.html' %}
{% block content %}
<h2>Posty Studentów</h2>
<div style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: flex-start;">
    {% for post in posty %}
    <div class="post">
        <div class="post_autor"><strong>{{ post.autor.nazwa_uzytkownika }}</strong></div>
        <div class="post_tresc">{{ post.tresc }}</div>
        {% if post.img %}
        <img src="/picture/{{ post.id }}" alt="Obraz posta" class="post_img">
        {% endif %}
    </div>
    {% endfor %}
</div>
<script>
    const posts = document.querySelectorAll('.post');
    // Add click event listener to each post
    posts.forEach(function (p) {
        p.addEventListener('click', function (event) {
            // Clear expanded class from all posts
            posts.forEach(function (p) {
                if (p !== event.currentTarget) {
                    p.classList.remove('expanded');
                }
            })
            // Toggle class to the clicked post
            event.currentTarget.classList.toggle('expanded');
        });
    });
</script>
{% endblock %}