{% extends 'base.html' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10">
    <title>Bootstrap demo</title>
</head>
<body>
{% block content %}

<h2>Posty Studentów</h2>
<div style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: flex-start;">
    {% for post in posty %}
    <div class="post" onclick="this.classList.toggle('expanded')">
        <div class="post_autor"><strong>{{ post.autor.nazwa_uzytkownika }}</strong></div>
        <div class="post_tresc">{{ post.tresc }}</div>
        {% if post.img %}
        <img src="/picture/{{ post.id }}" alt="Obraz posta" class="post_img">
        {% endif %}
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}

