{% extends 'base.html' %}

{% block content %}
<h1>Posty  {{ session['uzytkownik'] }}</h1>

{% if posty %}
<div style=" display: flex;flex-wrap: wrap; gap: 15px;justify-content: flex-start;">
    {% for post in posty %}
    <div class="post">
        <div style="min-height:95px"class="post_tresc">{{ post.tresc }}</div>
         {% if post.img %}
        <img src="data:image/jpeg;base64,{{ post.img | b64encode }}" alt="Obraz posta" class="post_img">
         {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
    <p>Nie zrobiles zadnych postów</p>
{% endif %}

{% endblock %}